{{- $dest := replace .Destination "#center" "" -}}
{{- $img := .Page.Resources.GetMatch $dest -}}
{{- if and ($img) (ge $img.Width 600) -}}
    {{ $small := $img.Resize "480x webp" }}
    {{ $medium := $img.Resize "768x webp" }}
    {{ $large := $img.Resize "1024x webp" }}
    <figure class="image-caption">
        <img alt="{{ $.Text }}" 
        srcset="
            {{ $small.RelPermalink }} 480w,
            {{ $medium.RelPermalink }} 768w,
            {{ $large.RelPermalink }} 1024w" 
        sizes="100vw" 
        src="{{ .Destination | safeURL }}"
        width="{{ $medium.Width }}"
        height="{{ $medium.Height }}"
        loading="lazy" 
        {{ if in .Destination ".i." }}style="filter: var(--invert-img);"{{ end }}/>
        <figcaption>{{ with $.Title | safeHTML }}{{ . | markdownify }}{{ end }}</figcaption>
    </figure>
{{- else -}}
    <figure class="image-caption">
        <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ if in .Destination ".i." }}style="filter: var(--invert-img);"{{ end }} loading="lazy" />
        <figcaption>{{ with $.Title | safeHTML }}{{ . | markdownify }}{{ end }}</figcaption>
    </figure>
  {{- end -}}