:root {
    --accent: #fb044b;
}

/* Set active menu tab to accent */
#menu .active{
    color: var(--accent);
}

/* change links' color on hover */
a:hover {
    /* display: block; */
    color: var(--accent);
}

/* change /posts' color on hover */
.post-entry:hover .entry-header h2{
    color: var(--accent);
}

/* change /search posts' color on hover */
.post-entry:hover .entry-header{
    color: var(--accent);
}

/* change archives' color on hover */
.archive-entry:hover h3{
    color: var(--accent);
}

.profile_inner:hover .social-icons a{
    color: var(--accent);
}

.profile_inner:hover .buttons a{
    color: var(--accent);
}