/* Extend Width */
main {
    --main-width: 768px;
}

/* Edit light vars */
:root {
    /* Add Accent Color */
    --accent: #fb044b;
    
    /* Keep code bg on light mode */
    --hljs-bg: rgb(46, 46, 51);
    
    /* Invert images */
    --invert-img: invert(5%);
}

/* Edit dark vars */
.dark {
    /* Invert images */
    --invert-img: invert(85%);
}

/* Change Highlight Color */
::selection {
  background: var(--accent);
}

/* Setup grid for Categories */
.categories {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--gap);
}

/* Setup grid on mobile */
@media (max-width: 480px) {
    .categories {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* CSS for Category Blocks */
.category-entry {
    position: relative;
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    padding: 20px 30px;
}
.category-entry:hover{
    transform: scale(1.04);
}
.category-entry:active{
    transform: scale(1);
}
/* ----------------------- */


/* ---- CSS for Posts ---- */
.post-entry {
    padding: 25px 40px;
}
.post-entry:hover {
    transform: scale(1.02);
}
.post-entry:active {
    transform: scale(1);
}
/* ----------------------- */


/* ----- CSS for Tags ---- */
.terms-tags a:hover{
    transform: scale(1.06);
}
.terms-tags a:active {
    transform: scale(1);
}
/* ----------------------- */


/* -- CSS for Post-Tags -- */
.buttons a,
.post-tags a{
    border: 0px solid var(--border);
    transition: 0.1s;
}
.buttons a:hover,
.post-tags a:hover {
    transform: scale(1.06);
    color: white;
    background: var(--accent);
}
.buttons a:active,
.post-tags a:active {
    transform: scale(.98);
}
.post-tags li {
    margin-inline-end: 5px;
}
/* ----------------------- */


/* --- CSS for Paginav --- */
.pagination,
.paginav {
    border: 0px solid var(--border);
    transition: 0.1s;
}
.pagination a:hover,
.paginav a:hover {
    color: white;
    background: var(--accent);
}
.pagination a:active,
.paginav a:active {
    transform: scale(.96);
}
/* ----------------------- */


/* Update Search Padding */
#searchResults .post-entry {
    padding: 15px 25px;
}

/* Adding Accents */
#menu .active,                          /* Set active menu tab to accent */
#moon:hover,                            /* Set moon icon to accent */           
#sun:hover,                             /* Set sun icon to accent */
a:hover,                                /* Change links' color on hover */
.post-entry:hover .entry-header h2,     /* Change /posts' color on hover */
.category-entry:hover .entry-header h2, /* Change /categories' color on hover */
.post-entry:hover .entry-header,        /* Change /search posts' color on hover */
.archive-entry:hover h3 {               /* Change archives' color on hover */
    color: var(--accent);
}

/* Add underline of link in post-description */
.post-description a {
    border-bottom: 1px solid var(--primary);
}

/* Change underline color on hover */
.post-description a:hover {
    border-bottom: 1px solid var(--accent);
}

/* Fix TOC spacing */
.toc {
    margin: calc(var(--content-gap) * 1.5) 2px;
}

/* Color Profile Emoji */
.emoji {
    color:transparent;
    text-shadow: 0 0 0 var(--accent);
}

/* Fix code blocks {linenos=false} padding */
.highlight > .chroma > code {
    padding: 10px 20px;
    background: #fb044b;
}

/* Center and default figcaptions */
.post-content figure > figcaption {
    text-align: center;
    font-style: normal;
    font-weight: 450;
}

/* Allow height to change on responsive images */
img {
    height: auto;
}

/* Remove space in logo */
.logo a img {
    margin-inline-end: 0px;
}