/* Extend Width */
main {
    --main-width: 760px;
  }

/* Add Accent Color */
:root {
    --accent: #fb044b;
}

/* CSS for Category Blocks */
.category-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    width: 45%;
    display: inline-block;
    margin: 15px;
    /* padding: 0px; */
}

/* Set active menu tab to accent */
#menu .active{
    color: var(--accent);
}

/* Change links' color on hover */
a:hover {
    /* display: block; */
    color: var(--accent);
}

/* Change /posts' color on hover */
.post-entry:hover .entry-header h2{
    color: var(--accent);
}

/* Change /categories' color on hover */
.category-entry:hover .entry-header h2{
    color: var(--accent);
}

/* Change /search posts' color on hover */
.post-entry:hover .entry-header{
    color: var(--accent);
}

/* Change archives' color on hover */
.archive-entry:hover h3{
    color: var(--accent);
}

/* Fix TOC spacing */
.toc {
    margin: calc(var(--content-gap) * 1.5) 2px;
}