/* Extend Width */
main {
    --main-width: 760px;
}

/* Add Accent Color */
:root {
    --accent: #fb044b;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* single or multiline */
    justify-content: space-around; /* column (x) orientation */
    align-content: flex-start; /* align boxes with others in row */
    align-items: flex-start; /* row (y) orientation */
}

/* CSS for Category Blocks */
.flexbox-item {
    position: relative;
    margin-bottom: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    width: 30%;
    margin: 0px;
    padding: 20px 30px;
}

/* Update Post Padding */
.post-entry {
    padding: 25px 40px;
}

/* Update Search Padding */
#searchResults .post-entry {
    padding: 15px 25px;
}

/* Set active menu tab to accent */
#menu .active {
    color: var(--accent);
}

/* Change links' color on hover */
a:hover {
    /* display: block; */
    color: var(--accent);
}

/* Change /posts' color on hover */
.post-entry:hover .entry-header h2 {
    color: var(--accent);
}

/* Change /categories' color on hover */
.flexbox-item:hover .entry-header h2 {
    color: var(--accent);
}

/* Change /search posts' color on hover */
.post-entry:hover .entry-header {
    color: var(--accent);
}

/* Change archives' color on hover */
.archive-entry:hover h3 {
    color: var(--accent);
}

/* Fix TOC spacing */
.toc {
    margin: calc(var(--content-gap) * 1.5) 2px;
}